<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <!--Шапка сайта-->
    <div class="container-fluid bg-dark text-white">
        <div class="row p-2">
            <div class="col-auto me-auto">
                <strong><span sec:authentication="name"></span></strong>
                <span>with roles:</span>
                <!--            <span sec:authentication="principal.authorities"></span>-->
                <span th:each="role : ${user.authorities}">
                    <span th:text="${role}"></span>
                </span>
            </div>
            <div class="col-auto">
                <a class="nav-link text-muted" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
    <!--Тело сайта-->
    <div class="container-fluid">
        <div class="row">
            <!--Левая часть -->
            <div class="col-2 p-0">
                <ul class="nav nav-pills flex-column mt-3" aria-orientation="vertical">
                    <li class="nav-item">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" class="nav-link active">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" th:href="@{/user}" class="nav-link">User</a>
                    </li>
                </ul>
            </div>
            <!--Правая часть -->
            <div class="col-10 bg-light min-vh-100">
                <div class="h1 pt-3 px-4">
                    Admin panel
                </div>
                <!--Вкладки-->
                <div class="pt-2 px-4">
                    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="navUsersTableTab" data-bs-toggle="tab" href="#nav-users-table"
                            role="tab" aria-controls="nav-home" aria-selected="true">Users table</a>
                        <a class="nav-link" id="nav-new-user-tab" data-bs-toggle="tab" href="#nav-new-user" role="tab"
                            aria-controls="nav-profile" aria-selected="false">New user</a>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <!--Содержимое вкладки №1-->
                        <div class="tab-pane fade show active" id="nav-users-table" role="tabpanel"
                            aria-labelledby="navUsersTableTab">
                            <!--Карточка и в ней табличка-->
                            <div class="card">
                                <div class="card-header">
                                    <p class="h4 m-0">All users</p>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table1">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Модальное окно для Edit -->
                        <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="editLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <form>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="editLabel">Edit user</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row mb-3 justify-content-center">
                                                <div class="col-6 text-center fw-bold">
                                                    <label for="modalIdEdit" class="form-label mb-0">ID</label>
                                                    <input readonly class="form-control mb-3" id="modalIdEdit" name="id"
                                                        disabled />

                                                    <label for="modalFirstNameEdit" class="form-label mb-0">First
                                                        name</label>
                                                    <input type="text" class="form-control mb-3" id="modalFirstNameEdit"
                                                        placeholder="First name" name="firstName" />

                                                    <label for="modalLastNameEdit" class="form-label mb-0">Last
                                                        name</label>
                                                    <input type="text" class="form-control mb-3" id="modalLastNameEdit"
                                                        placeholder="Last name" name="lastName" />

                                                    <label for="modalEmailEdit" class="form-label mb-0">Email</label>
                                                    <input type="email" class="form-control mb-3" id="modalEmailEdit"
                                                        placeholder="Email" name="email" />

                                                    <label for="modalPasswordEdit"
                                                        class="form-label mb-0">Password</label>
                                                    <input type="password" class="form-control mb-3"
                                                        id="modalPasswordEdit" placeholder="Password" name="password" />

                                                    <label for="modalRoleEdit" class="form-label mb-0">Role</label>
                                                    <select name="selectedRoles" class="form-select mb-3" multiple
                                                        id="modalRoleEdit" size="2">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal" id="editClose">Close
                                            </button>
                                            <button type="button" class="btn btn-primary" id="editSubmit">Edit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Модальное окно для delete -->
                        <div class="modal fade" id="modalDelete" tabindex="-1"
                            aria-labelledby="deleteLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <form>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="deleteLabel">Delete user</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Закрыть"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row mb-3 justify-content-center">
                                                <div class="col-6 text-center fw-bold">
                                                    <label for="modalIdDelete" class="form-label mb-0">ID</label>
                                                    <input readonly class="form-control mb-3"
                                                        id="modalIdDelete" name="id" disabled />

                                                    <label for="modalFirstNameDelete" class="form-label mb-0">First
                                                        name</label>
                                                    <input type="text" class="form-control mb-3"
                                                        id="modalFirstNameDelete" placeholder="First name"
                                                        name="firstName" disabled />

                                                    <label for="modalLastNameDelete" class="form-label mb-0">Last
                                                        name</label>
                                                    <input type="text" class="form-control mb-3"
                                                        id="modalLastNameDelete" placeholder="Last name"
                                                        name="lastName" disabled />

                                                    <label for="modalEmailDelete"
                                                        class="form-label mb-0">Email</label>
                                                    <input type="email" class="form-control mb-3"
                                                        id="modalEmailDelete" placeholder="Email" name="email"
                                                        disabled />

                                                    <label for="modalRoleDelete" class="form-label mb-0">Role</label>
                                                    <select name="selectedRoles" class="form-select mb-3" multiple
                                                        id="modalRoleDelete" size="2" disabled>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal" id="deleteClose">Close
                                            </button>
                                            <button type="button" class="btn btn-primary" id="deleteSubmit">Delete
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--Содержимое вкладки №2-->
                        <div class="tab-pane fade" id="nav-new-user" role="tabpanel" aria-labelledby="nav-new-user-tab">
                            <!--Карточка-->
                            <div class="card">
                                <div class="card-header">
                                    <p class="h4 m-0">Add new user</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row mb-3 justify-content-center">
                                            <div class="col-4 text-center fw-bold">
                                                <label for="addFirstName" class="form-label mb-0">First name</label>
                                                <input type="text" class="form-control mb-3" id="addFirstName"
                                                    placeholder="First name" />

                                                <label for="addLastName" class="form-label mb-0">Last name</label>
                                                <input type="text" class="form-control mb-3" id="addLastName"
                                                    placeholder="Last name" />

                                                <label for="addEmail" class="form-label mb-0">Email</label>
                                                <input type="email" class="form-control mb-3" id="addEmail"
                                                    placeholder="Email" />

                                                <label for="addPassword" class="form-label mb-0">Password</label>
                                                <input type="password" class="form-control mb-3" id="addPassword"
                                                    placeholder="Password" />

                                                <label for="addRoles" class="form-label mb-0">Role</label>
                                                <select name="selectedRoles" class="form-select mb-3" multiple
                                                    id="addRoles" size="2">
                                                </select>
                                                <button type="button" class="btn btn-success btn-lg" id="addSubmit">Add new
                                                    user</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="admin.js"></script>
</body>

</html>